@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body{
    background-color: #f5f1eb;
}
.header {
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    text-align: center;
    border-top: 4px solid black;
}

img {
    height: 200px;
}

.row1 {
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid #F26A34;
    margin: auto;
    width: 800px;
}

.row2 {
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 6px dashed #5FB0E2;
    margin: auto;
    width: 800px;
}

.row3 {
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid #BD9F5E;
    margin: auto;
    width: 800px;
}